<!DOCTYPE html>
<html lang='en'>
    <head>  
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"> 

        <title>PeachPortal</title>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent">
                <div class="container-fluid">
                <a class="navbar-brand" href="/"><h1><em>PeachPortal</em></h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                    </li>
                    </ul>
                </div>
                                <section>
                    <div class="wave">
                    </div>
                    <div class="wave1">
                    </div>
                    <div class="wave2">
                    </div>
                  </section>    
            </div>
            </nav>

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h1 style="text-align: right;">Sign Up</h1>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert"> {{message}} </div>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    {% for field, errors in form.errors.items() %}
                    {%for error in errors%}
                    <div class = 'alert alert-danger' role = 'alert'>{{error}}</div>
                    {% endfor %}
                    {% endfor %}
                    {% block content%}
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="firstForm">{{form.first.label}}</label>
                            {{form.first(class="form-control")}}
                        </div>
                        <div class="form-group">
                            <label for="lastForm">{{form.last.label}}</label>
                            {{form.last(class="form-control")}}
                        </div>
                        <div class="form-group">
                            <label for="emailForm">{{form.email.label}}</label>
                            {{form.email(class="form-control")}}
                        </div>
                        <div class="form-group">
                            <label for="passwordForm">{{form.password.label}}</label>
                            {{form.password(class="form-control")}}
                        </div>
                        <div class="form-group">
                            <label for="confirmForm">{{form.confirm.label}}</label>
                            {{form.confirm(class="form-control")}}
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="classForm"> {{form.classId.label}}</label>
                                    {{form.classId(class="form-control")}}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label for="sideform">{{form.side.label}}</label>
                                    <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons" id="sideform">
                                        {% for subfield in form.side%}
                                        <label class="btn btn-outline-success " for="starboardcheck" >{{subfield.label}}
                                            {{subfield(class="form-check-input")}}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="teamForm">{{form.teamId.label}}</label>
                                    {{form.teamId(class="form-control")}}
                                </div>
                            </div>
                        </div>
                        {{form.submit(class="btn btn-primary")}}
                      </form>
                    {% endblock %}
                </div>
            </div>


        </div>



        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    </body>
</html>
