<!DOCTYPE html>
<html lang='en'>
    <head>  
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
        {{ js_resources|indent(4)|safe }}
        {{ css_resources|indent(4)|safe }}
        <title>Workout: {{workout['title']}}</title>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent">
                <div class="container-fluid">
                <a class="navbar-brand" href="/home"><h1><em>PeachPortal</em></h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                        <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
                    </li>
                    </ul>
                    {% if isAdmin %}
                    <div id = "seatlist">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="btn btn-outline-primary active" aria-pressed = "true" hx-post= "/workoutoverall?w={{workout['_id']}}" hx-target = "#raw">Overall View</button> 
                    </li>
                    {% for num in num_seats%}
                    <li class="nav-item">
                        <button class="btn btn-outline-primary" hx-post= "/workoutseat?w={{workout['_id']}}&s={{num}}&piece=0&ad=1" hx-target = "#raw">Seat {{num+1}} Details</button> 
                    </li>
                    {%endfor%}
                    </ul>
                    </div>
                    {%endif%}
                </div>
                    <section>
                    <div class="wave">
                    </div>
                    <div class="wave1">
                    </div>
                    <div class="wave2">
                    </div>
                  </section>    
            </div>
            </nav>
            {% if piece_list|length > 1 %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent">
                <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div id = "piecelist">
                    <ul class = "navbar-nav mr-auto">
                    {% for piece in piece_list%}
                    {% if isAdmin %}
                    {% if loop.index0 == 0 %}
                    <li class="nav-item">
                        <button class="btn btn-outline-info active" aria-pressed="true" hx-post= "/workoutoverall?w={{workout['_id']}}&piece={{ piece[1] }}" hx-target = "#raw">{{piece[0]}}</button> 
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <button class="btn btn-outline-info" hx-post= "/workoutoverall?w={{workout['_id']}}&piece={{ piece[1] }}" hx-target = "#raw">{{piece[0]}}</button> 
                    </li>
                    {%endif%}
                    {%else%}
                    {% if loop.index0 == 0 %}
                    <li class="nav-item">
                        <button class="btn btn-outline-info active" aria-pressed="true" hx-post= "/workoutseat?w={{workout['_id']}}&s={{seatnum}}&piece={{ piece[1] }}" hx-target = "#raw">{{piece[0]}}</button> 
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <button class="btn btn-outline-info" hx-post= "/workoutseat?w={{workout['_id']}}&s={{seatnum}}&piece={{ piece[1] }}" hx-target = "#raw">{{piece[0]}}</button> 
                    </li>
                    {%endif%}
                    {%endif%}
                    {%endfor%}
                    </ul>
                    </div>
                </div> 
            </div>
            </nav>
            {%endif%}
            <div class="card" style="width: 100%; ">
                <div class="card-body">
                    {% if isAdmin %}
                    <form action="/editWorkout" method="POST">
                        <input style="height: 3rem; font-size: 16pt " name="newVal" value="{{workout['title']}}" />
                        <input type="hidden" name="field" value="title" />
                        <input type="hidden" name="workoutId" value="{{workout['_id']}}" />
                        <button type="submit" class="btn btn-primary">Update title</button>
                        <a class="btn btn-danger" href="/deleteWorkout?wid={{workout['_id']}}&aid={{athId}}">Delete Entire Workout</a>
                    </form>
                    {% else %}
                    <h3>{{workout['title']}}</h3>
                    {% endif %}
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-sm-8">
                            <h5>{{workout['date']}}</h5>
                        </div>
                    </div>
                    {% if isAdmin %}
<!-- plots!! -->    <div class="row" style="margin-bottom: 1rem;">
                            <h5>{{athlete_map|safe}}</h5>
                        </div>
                    </div>
                    {%endif%}
                    <div class="overflow-x: scroll;" >
                        <div id="raw" >
                            {{ plot_div|indent(4)|safe }}
                        </div>
                    </div>
                </div>      
            </div>
        </div>


        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>--> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>     
    </body>
</html>
